@import url("/index.css");

.input-container{
    max-width: 31.25rem;
    margin:25vh auto;
}

/* heading */
.form-heading{
    text-align: center;
    padding: 10px 0;
    color: var(--PRIMARY-COLOR);
}

.form-container label{
    color:var(--PRIMARY-COLOR);
    font-size: 1rem;
    font-weight: 600;
}

.form-container input{
    margin-top: 0;
}

/* remember-me and forgot you password link */
.form-container div{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

/* create-new-account heading */
.form-container h4{
    text-align: center;
    padding-top: 1rem;
}


/* Media Queries */
@media (max-width:450px){
        .form-container div{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
}
@media (max-width:600px) {
    .input-container{
        max-width: 100%;
        margin: 25vh 2rem;
    }


    
}